<img id="main-image" src="../../assets/images/newspapers04-edit.JPG">

<div class="top-container">
  {{!-- <img id="main-image" src="../../assets/images/newspapers04-edit.JPG"> --}}
  <div class="jumbotron">
    <h1 class="display-4" id="title">Saved Articles</h1>
    <img id="onion" src="../../assets/images/onion-logo.png">
    <br>
    <p></p>
    <p class="lead">Your Saved Articles</p>
    {{!-- <p id="motto">America's Finest News Source</p> --}}
  </div>
</div>


<br>
<br>
{{!-- <h1 style="font-family: 'Cormorant', serif; font-weight: 700; letter-spacing: 1.0px;">Articles</h1> --}}
<div class="container">

  <div class="row">
    <div class="col-md-12" id="article-card">
      <ul class="list-group">
        <li class="list-group-item active">Saved Articles</li>
        <li class="list-group-item">


          {{!-- {{#each response.data}}
          {{#unless this.devoured}} --}}

          {{!-- <p><button class="btn btn-primary btn-sm devour-button" id="articles" name="{{this.id}}" type="submit">Save
              Article</button>&nbsp; &nbsp;
            {{result.title}}
          </p> --}}

          {{!-- {{/unless}}
          {{/each}} --}}
        </li>
        </li>
      </ul>
    </div>
  </div>

  <script>

    $(document).ready(function () {
    
        $("#nav-scrape").hide();
        event.preventDefault();
      );
    });

  </script>